.root {
	display: flex;
	width: 95%;
	max-width: 1600px;
	height: 95vh;
	/* height: fit-content; */
	background-color: var(--rui_placecolor);
	box-shadow: 0 0 1em rgba(11, 20, 26, 0.05);
	align-items: center;
	justify-content: flex-start;
	border-radius: 0.08em;
	overflow: hidden;
}
.chatlist {
	display: flex;
	flex-direction: column;
	flex: 0 0 30%;
	max-width: 30%;
	height: 100%;
	justify-content: flex-start;
	background-color: var(--rui_white);
	overflow-x: hidden;
	overflow-y: auto;
}
.chatlist header {
	padding: 0.5em;
}
.field_group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.quit_btn {
	border: 0.08em solid var(--rui_red);
	transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.quit_btn:hover {
	color: var(--rui_white);
	background-color: var(--rui_red);
}
.addchat {
	width: 100%;
	background-color: var(--rui_placecolor);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.addchat_btn {
	border: 0;
	background-color: var(--rui_semicolor);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.addchat_btn:hover {
	color: var(--rui_white);
	background-color: var(--rui_color);
}

.divider {
	border-bottom: 0.08em solid var(--rui_placecolor);
}
.list {
	height: 100%;
}
.selected {
	background-color: var(--rui_placecolor);
}
.selected:hover {
	background-color: var(--rui_placecolor);
}
.main {
	flex: 1;
	height: 100%;
	display: flex;
	overflow: hidden;
}
.chat_field {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--rui_color30);
}

.chat_field footer {
	display: flex;
	padding: 1em;
	background-color: var(--rui_placecolor);
	align-items: center;
}

.wrapper {
	width: 100%;
	min-height: 2.1em;
	max-height: 4.2em;
	overflow: hidden;
}
.text_area {
	user-select: text;
	white-space: pre-wrap;
	word-break: break-word;
	box-shadow: 0 0 1em rgba(11, 20, 26, 0.05);
	border-radius: 0.16em;
	padding: 0.4em 0.8em;
	background-color: var(--rui_white);
	color: var(--rui_black);
	border: none;
	outline: none;
	text-decoration: none;
	width: inherit;
	cursor: text;
	min-height: inherit;
	max-height: inherit;
	overflow-y: auto;
}
.text_area[placeholder]:empty:before {
	content: attr(placeholder);
	color: var(--rui_grey);
}
.text_area[placeholder]:empty:focus:before {
	content: "";
}
.send {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1em;
	cursor: pointer;
}
.placeholder {
	margin: auto;
	text-align: center;
	font-size: 1.5em;
}
@media (max-width: 1440px) {
	.root {
		width: 100%;
		height: 100vh;
	}
}
