.root {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: fit-content;
	background-color: var(--rui_placecolor);
	box-shadow: 0 0 1em rgba(11, 20, 26, 0.05);
	align-items: center;
	justify-content: flex-start;
	border-radius: 0.08em;
	overflow: hidden;
}
.title {
	margin: 0;
	background-color: var(--rui_white);
	padding: 1em;
	width: 100%;
	text-align: center;
}
.inputPlace {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	padding: 2em;
	width: 100%;
	flex: 1;
}
.inputPlace input {
	width: 100%;
	font-size: 1.2em;
	transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
}
.inputPlace input:focus {
	box-shadow: 0 0 0.2em 0 var(--rui_color);
}
.submitPlace {
	padding-left: 2em;
	padding-bottom: 0.8em;
	align-self: flex-start;
}
.submitPlace .submit_btn {
	font-size: 1.2em;
	border-color: var(--rui_color);
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.submitPlace .submit_btn:hover {
	background-color: var(--rui_color);
	color: var(--rui_white);
}
